MONGODB_DB = 'Moo'
MONGODB_USERNAME = 'moo'
MONGODB_PASSWORD = 'fuk u'
MONGODB_HOST = '127.0.0.1'
MONGODB_PORT = 27017

GERRIT_URL = 'https://review.carbonrom.org'
BUILD_SYNC_TIME = 3600
CACHE_TYPE = "simple"
